{% load static i18n %}

<script>
    let uploadURL = '{% url "djvue:file_upload" %}'
</script>
<script src="{% static 'vue/js/vue.min.js' %}"></script>
<script src="{% static 'vue/js/vee-validate.full.min.js' %}"></script>
<script src="{% static 'vue/js/axios.min.js' %}"></script>
<script src="{% static 'vue/js/lodash.min.js' %}"></script>
<script>

    Vue.component("validation-provider", VeeValidate.ValidationProvider)
    Vue.component("validation-observer", VeeValidate.ValidationObserver)

    VeeValidate.localize({{ vv_locale|safe }})
    VeeValidate.localize('{{ vv_language }}')
    VeeValidate.extend("password", {
      params: ["target"],
      validate(value, {target}) {
        return value === target
      },
      message: '{% trans "Password confirmation does not match" %}',
    })

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

</script>
<script src="{% static 'vue/js/script.min.js' %}"></script>
